@use "mixin" as *;

#achievements {
    text-align: center;
    margin-top: $section-margin;

    .book-area {
        position: relative;
        max-width: 800px;
        width: 100%;
        height: 560px;
        margin: 0 auto 60px;

        .book-wrapper {
            position: relative;
            max-width: 800px;
            width: 100%;
            height: 640px;
            box-shadow: 0 12px 20px -10px rgba(81, 64, 49, 0.6);
        }

    }
}



.book-item {
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 100%;
    background: $sub-color;

    .student_card {
        padding: 40px;
        text-align: center;

        .heading_strong {
            color: $accent-color;
        }

        .card_item {
            display: flex;
            justify-content: space-between;
            text-align: center;
            align-items: center;
            box-sizing: border-box;
            gap: 40px;
            margin-top: 20px;

            .card_item_student,
            .card_item_achievement {
                width: 48%;
            }

            .card_item_student {

                img {
                    display: block;
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    margin: 0 auto;
                }

                .student_name {
                    font-weight: bold;
                    margin-top: 8px;
                }

                .student_comment {
                    margin-top: 16px;
                    text-align: left;
                }
            }

            .card_item_achievement {

                .achievement_img img {
                    display: block;
                    width: 100%;
                    max-width: 100%;
                    height: 200px;
                    object-fit: cover;
                    filter: drop-shadow(6px 6px 20px rgba(0, 0, 0, 0.15));
                }

                .achievement_link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    margin-top: 20px;

                    .link_text {
                        display: block;
                        color: $main-color;
                    }

                    .link_icon {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}

.link_btn_blue {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;
    border-radius: 16px;
    background: $main-color;
    color: #fff;
    gap: 16px;
    margin: o auto;

    img {
        width: 40px;
        height: 100%;
        object-fit: contain;
    }

}