@use '_mixin' as *;


* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Noto Sans JP Bold', 'M PLUS 1p Regular';
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "width" 100;
    color: $font-color;
}

a {
    text-decoration: none;
    color: $font-color;
}

li {
    list-style: none;
}

img {
    width: 100%;
    vertical-align: bottom;
}

.container {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    padding-inline: 2%;

    @include sp {
        padding-inline: 16px;
    }
}



// span
.blue {
    color: #4B80AA;
}
.large {
    font-size: 64px;
}
// font-size
.section-title {
    font-size: 2.5rem;
}
.lead {
    font-size: 1.5rem;
}
.heading {
    font-size: 1.25rem;
}

// font-size
.section_title {
    font-size: 2.5rem;
    text-align: center;
}

.lead {
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
    margin: 40px 0;
}

.heading {
    font-size: 1.25rem;
    text-align: center;
}