@use '_mixin' as *;


* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Noto Sans JP Bold', 'M PLUS 1p Regular';
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "width" 100;
    color: $font-color;
}

a {
    text-decoration: none;
    color: $font-color;
}

li {
    list-style: none;
}

img {
    width: 100%;
    vertical-align: bottom;
}

.container {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    padding-inline: 2%;

    @include sp {
        padding-inline: 16px;
    }
}



// span
.blue {
    color: #4B80AA;
}

.large {
    font-size: 64px;
    color: #4B80AA;
}

// section-titleの下線
.section-header {
    text-align: center; // h2を中央に配置
    margin-bottom: 20px;
}

// font-size 
.section-title {
    font-size: 2.5rem;
    position: relative;
    padding-bottom: $clip-depth + 10px;

    .blue {
        color: $line-color;
    }

    .large {
        font-size: 64px;
    }

    // 線の描画
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0; 
        width: 100%; 
        height: $svg-height + px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 #{$line-width-base} #{$svg-height}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0,1 L325,1 L375,31 L425,1 L750,1' stroke='%234B80AA' stroke-width='2' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

.lead {
    font-size: 1.5rem;
}

.heading {
    font-size: 1.25rem;
}

// font-size
.section_title {
    font-size: 2.5rem;
    text-align: center;
}


.lead {
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
    margin: 40px 0;
}

.heading {
    font-size: 1.25rem;
    text-align: center;
}

// フェードイン
.fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}