@use '_mixin' as *;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-menu {
        ul {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            gap: 20px;
        }
    }
}