@use '_mixin' as *;

.mainvisual {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    position: relative;

    .mv-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;
        margin-right: -30%;
        margin-left: 5%;

        .fam-img {
            width: 40%;
            display: block;
        }

        h2 {
            margin: 40px 0;
            font-size: clamp(1.5rem, 2.5vw, 2rem);
            white-space: nowrap;
        }

        .mv-text {
            line-height: 2;
            font-size: clamp(1rem, 2vw, 1.2rem);
        }
    }

    .mv-right {
        width: 80%;
        height: 100%;
        position: relative;
        overflow: hidden;
        z-index: 5;

        ul.image-slider {
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            position: relative;

            li {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                animation: slider 15s infinite;

                &:nth-child(1) {
                    animation-delay: 0s;
                }

                &:nth-child(2) {
                    animation-delay: 5s;
                }

                &:nth-child(3) {
                    animation-delay: 10s;
                }

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    display: block;
                }
            }
        }

        .sit-img {
            width: 130px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 10;
        }
    }
}

// 画像フェードイン・フェードアウトアニメーション
@keyframes slider {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    33% {
        opacity: 1;
    }

    43% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.mv-bg {
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
}