// ---------------------------------------
// responsive
// ---------------------------------------
// $pc: 1080px;
// $tab: 800px;
$sp: 768px;

// @mixin pc {
//     @media (max-width: ($pc)) {
//         @content;
//     }
// }

// @mixin tab {
//     @media (max-width: ($tab)) {
//         @content;
//     }
// }

@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

// ---------------------------------------
// 定数宣言
// ---------------------------------------
$main-color: #4B80AA;                   //メインカラー
$sub-color: #E3ECF8;                    //サブカラー
$accent-color: #E97C27;                 //アクセントカラー
$font-color: #3c3c3c;                   //フォントカラー

$section-title: 2.5rem;                     //セクションタイトル
$lead: 1.5rem;                              //h3 リード文
$heading: 1.25rem;                          //h4



$section-margin: 100px;                   //PCセクション間の余白
$section-margin-sp: 50px;                 //SPセクション間の余白


// ---------------------------------------
// 関数
// ---------------------------------------



// ---------------------------------------
// z-index 管理
// ---------------------------------------
// section内        : ~99
// header           : 100
// toggle-btn       : 200
// loading1         : 1001
// loading2         : 1000
// ---------------------------------------

