@use "mixin" as *;

#teachers {
    position: relative;
    background-color: $sub-color;
    padding: 60px 0;
    margin-top: $section-margin;

    @include sp{
        height: auto;
        padding-bottom: 60px;
        margin-top: $section-margin-sp;
    }

    .teachers-header {
        position: relative;
        text-align: center;
        margin-bottom: 80px;
    }

    .card-area {
        position: relative;
        width: 100%;
        height: auto;

        .teacher_cards {
            position: sticky;
            top: 80px;
            width: 100%;
            height: 450px;
            margin: 0 auto;
            perspective: 1000px;

            @include sp{
                position: static;
                top: auto;
                height: auto;
            }
        }
    }
}

.card {
    position: absolute;
    width: 100%;
    height: 450px;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    padding: 60px;
    gap: 40px;
    transform: translateY(100px) scale(0.95);

    @include sp{
        position: relative;
        flex-direction: column;
        top: auto;
        padding: 24px;
        margin-top: 20px;
        transform: none;
    }

    .card-image {
        width: 30%;

        @include sp{
            width: 100%;
        }

        img {
            width: 100%;
            height: auto;
            border-radius: 16px;
            object-fit: cover;
        }
    }

    .card-content {
        width: 68%;

        @include sp{
            width: 100%;
        }

        .teacher_name {
            font-size: 1.5rem;
            color: $main-color;
            font-weight: 600;
            margin-bottom: 10px;

            @include sp{
                margin-top: 20px;
            }
        }

        .point {
            font-weight: 600;
            margin-bottom: 16px;
        }

        .comment {
            line-height: 1.8;
            color: #555;
        }
    }
}


.instagram_area{
    text-align: center;
    margin-top: 60px;

    .instagram_area_text{
        margin-top: 20px;
    }

    .instagram_post{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 20px;

        @include sp{
            flex-direction: column;
        }

        .post_kakashi, .post_iruka{
            width: 320px;
            height: 400px;

            .instagram-media{
                width: 100%;
                height: auto;
            }
        }

        .post_iruka{
            @include sp{
                margin-top: 20px;
            }
        }
    }
}