@use '_mixin' as m;


* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Noto Sans JP Bold', 'M PLUS 1p Regular';
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: m.$base-color;
    color: m.$font-color;
}

a {
    text-decoration: none;
    color: m.$font-color;
}

li {
    list-style: none;
}

img {
    width: 100%;
    vertical-align: bottom;
}

.container {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    padding-inline: 2%;

    @include m.sp {
        padding-inline: 16px;
    }
}

.section-title {
    font-family: "Gasoek One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    color: #323E4B;
    text-shadow: 11px 4px 2px rgba(0, 0, 0, 0.25);
    transform: translateX(-50px);
    transition: all .8s ease;
    opacity: 0  ;
    margin-bottom: 40px;
    margin-left: 2%;
    position: relative;
    &.show {
        opacity: 1;
        transform: translateX(0);
    }
    

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 15px;
        width: 130px;
        background-color: m.$accent-color;
    }

    @include m.sp {
        font-size: 2.5rem;

        &::before {
            height: 8px;
            width: 80px;
        }
    }
}

//Safariだけ上書きでbox-shadowをなし
@supports (-webkit-appearance: none) and (not (translate: none)) {
    .section-title {
        text-shadow: none;
    }
}

.footer-title {
    font-family: "Gasoek One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    text-align: center;
    color: #323E4B;
    text-shadow: 11px 4px 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
    transform: translateY(50px);
    transition: all .8s ease;
    opacity: 0;

    &.show {
        transform: translateY(0);
        opacity: 1;
    }


    @include m.sp {
        font-size: 2rem;
    }
    

    h2 {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            height: 8px;
            width: 80px;
            background-color: m.$accent-color;
        }
    }
}

.btn {
    display: inline-block;
    background-color: m.$accent-color;
    border-radius: 40px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
    transition: all 0.5s ease;
    padding: 10px 40px;
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -75%;
        width: 50%;
        height: 100%;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
        transform: skewX(-25deg);
        pointer-events: none;
    }

    &:hover {
        background-color: darken(m.$accent-color, 5%);

        &::before {
            animation: shine 0.7s;
        }
    }

    &:active {
        top: 4px;
        box-shadow: 0 0 0 rgba(0, 0, 0, 25%);
    }

}

@keyframes shine {
    100% {
        left: 100%;
    }
}



.flow-title {
    display: flex;
    align-items: center;
    margin-top: 40px;

    p {
        color: #fff;
        font-size: 3rem;
        font-weight: bold;
    }

    h3 {
        font-size: 1rem;
        font-weight: bold;
        margin-left: 8px;
        margin-top: 16px;
    }
}



.flow {
    max-width: 300px;
    width: 100%;
    padding: 20px 12px;
    z-index: 1;

    ul {
        margin-bottom: 40px;

        li {
            list-style: disc;
            margin-left: 20px;
        }
    }

    p {
        font-size: 0.875rem;
        margin-bottom: 10px;
    }
}

.footer-avatar {
    position: relative;
    margin-bottom: -30px;
    margin-left: 4%;
    z-index: -1;
    

    img {
        width: 100px;
        height: 100px;
        transform-origin: center bottom;
        animation: swing 2s infinite linear;
    }

    .footer-avatar2 {
        margin-left: -4%;
    }
}

@keyframes swing{
    0% , 100%{
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(-5deg);
    }
}

.js-fade {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease, transform 0.6s ease;

    &.is-show {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
}