@use '_mixin' as m;

#footer {
    background-color: #B4C6D9;
    
    .container{
        display: flex;
        justify-content: space-between;
        
        @include m.sp {
            display: block;
        }

        section{
            width: 47%;
            padding: 16px;

            @include m.sp {
                width: 100%;
                margin-bottom: 40px;
            }

        }

        .information{
            text-align: center;

            .info{
                display: flex;
                align-items: center;
                width: 100%;
                margin-top: 20px;

                .info-img{
                    width: 30%;
                    text-align: end;

                    & img{
                        width: 32px;
                        height: 32px;
                        object-fit: cover;
                    }
                }

                dl{
                    display: flex;
                    width: 70%;

                    dt{
                        width: 40%;
                        text-align: start;
                        padding-left: 8px;
                    }

                    dd{
                        width: 60%;
                        text-align: start;
                    }
                }
            }

            p{
                margin-top: 40px;

                & span{
                    font-weight: bold;
                }       
            }

            .visitor{
                margin-top: 10px;

                & img{
                    width: 60%;
                    border-radius: 10px;
                }
            }
        }
        
        .contact{
            form{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                margin: 40px auto 0 auto;

                @include m.sp {
                    width: 90%;

                }

                label{
                    width: 30%;
                    text-align: end;
                    padding-right: 12px;
                }

                input{
                    width: 65%;
                    height: 40px;
                    border: 1px solid m.$font-color;
                    border-radius: 10px;
                    padding: 0 4px;
                    margin-bottom: 40px;
                }

                textarea{
                    width: 65%;
                    height: 100px;
                    border: 1px solid m.$font-color;
                    border-radius: 10px;
                    padding: 0 4px;
                    margin-bottom: 20px;
                }

                .btn{
                    width: 40%;
                    margin: 40px auto 0 auto;
                    border: none;
                    border-radius: 40px;
                    color: m.$font-color;

                    @include m.sp {
                        width: 30%;
                    }
                }
            }
        }
    }

    .to-top{
        position: fixed;
        right: 30px;
        bottom: 50px;
        z-index: 20;

        & a{
            position: relative;
            display: block;
            background-image: url(../img/image_1.png);
            background-position: 55% 38%;
            background-size: 190%;
            width: 80px;
            height: 80px;
            object-fit: cover;
            border: 1px solid #fff;
            border-radius: 50%;
            font-weight: bold;
            text-align: center;
            line-height: 80px;

            @include m.sp{
                width: 45px;
                height: 45px;
                line-height: 45px;
            }
        }
    }

    .copyright{
        text-align: center;
        font-size: 0.75rem;
        background-color: m.$base-color;
        width: 100%;
        height: 40px;
        line-height: 40px;
    }
}
