@use '_mixin' as m;

header {
    height: m.$header-height;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 6%;
    transition: all .3s ease;
    position: relative;
    z-index: 100;

    // メインページ
    &.main-header {
        @include m.sp {
            height: 0;
        }
    }

    // 固定ページ
    &.sub-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
        @include m.sp {
            position: static;
            box-shadow: none; 
            background-color: m.$base-color;
        }
    }

    &.is-fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    }

    .toggle-btn {
        display: none;
        background-color: m.$accent-color;
        position: fixed;
        top: 0;
        right: 0;        
        width: 120px;
        height: m.$header-height;
        text-align: center;
        cursor: pointer;
        z-index: 300;
        
        @include m.sp {
            display: flex;
            // flex-direction: column;
            // justify-content: center;

            span {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                transition: all .5s ease;

                &.line {
                    // margin: 10px auto;
                    width: 70%;
                    height: 1px;
                    background: m.$font-color;
                    border-radius: 2px;
                }

                &:nth-child(1) {
                    top: 25%;
                    opacity: 1;
                    transform: opacity .7s ease;
                }
                &:nth-child(2) {
                    position: relative;
                    &::after {
                        content: "MENU";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                &:nth-child(3) {
                    top: 75%;
                    opacity: 1;
                }
            }
        }
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 30px;

        @include m.sp {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            background-color: rgba(170, 169, 169, 0.95);
            z-index: 200;
            transform: translateY(-100%);
            transition: opacity .3s ease,
                        visibility .3s ease,
                        transform .3s ease;
            opacity: 0;
            visibility: hidden;
            gap: 60px;
        }

        &__scroll {
            position: relative;
            z-index: 200;
            transition: text-shadow .3s ease;

            a {
                display: inline-block;

                @include m.sp {
                    padding: 10px 20px;
                    width: 100%;
                    text-align: center;
                    font-size: 1.2rem;
                }
            }

            &:hover {
                text-shadow: 0 0 1px m.$font-color;
            }

            // 下線
            &::before {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: m.$font-color;
                transform: scaleX(1);
                transform-origin: center;
                opacity: 1;

                @include m.sp {
                    bottom: 0;
                }
            }

            // 下線アニメーション
            &:hover::before {
                animation: underline-disappear-reappear 0.5s ease forwards;
            }

            // ホバーした背景色
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;           
                background-color: m.$accent-color;
                box-shadow: 0 0 10px 5px m.$accent-color;
                border-radius: 10px;
                transform: scaleX(0);
                opacity: 0;
                transition: transform .3s ease,
                            opacity .3s ease;
                z-index: -1;

            }

            &:hover::after {
                opacity: 0.3;
                transform: scaleX(1);
            }
        }

        &__btn {
            padding: 10px 20px;
        }

    }

    // オープンした時の表示
    &.open {
        .toggle-btn {
            @include m.sp {
                span {
                    &:nth-child(2) {
                        &::after {
                            content: "CLOSE";
                        }
                    }
                }
            }
        }
        .nav-list {
            @include m.sp { 
                transform: translateY(0);
                opacity: 1;
                visibility: visible;    
            }
        }
    }
}

.header-placeholder {
    height: 0;
}

@keyframes underline-disappear-reappear {
    0% {
        transform: scaleX(1);
        transform-origin: center;
        opacity: 1;
    }
    49% {
        transform: scaleX(0);
        transform-origin: center;
        opacity: 0;
    }
    50% {
        transform: scaleX(0);
        transform-origin: center;
        opacity: 0;
    }
    100% {
        transform: scaleX(1);
        transform-origin: center;
        opacity: 1;
    }
}