@use '_mixin' as m;


// --------------------------------
// 画面切り替え処理
// --------------------------------
// ローディング画面表示中のスクロール制御
.no-scroll {
    overflow: hidden;
}

.loading1, .loading2{
    &.fade-out {
        opacity: 0;
        pointer-events: none;
    }
    &.none {
        display: none;
    }
}

// --------------------------------
// Loading1
// --------------------------------
.loading1 {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(182deg, #262626, #6B6B6B, #C7C7C7);
    background-size: 200% 200%;
    background-position: 0 0;
    animation: gradation 3s linear infinite alternate;
    z-index: 1001;
    text-align: center;
    color: #FFFFFF;
    opacity: 1;
    transition: opacity 1s ease;

    &__text {
        width: 100%;
        padding-inline: 16px;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);

        .title {
            font-size: 2rem;
            letter-spacing: 2px;
            @include m.sp {
                font-size: 1.6rem;
            }
        }
    
        .sub-title {
            font-size: 1.25rem;
            margin-top: 30px;
            letter-spacing: 2px;

            @include m.sp {
                font-size: 1rem;
            }
        }

        .blur{
            &.txt1 {
                animation: blurAnime 2s ease 0.3s forwards;
            }
            &.txt2 {
                animation: blurAnime 2s ease 0.9s forwards;
            }
            &.txt3 {
                animation: blurAnime 2s ease 1.5s forwards;
            }
        }

        .blurTrigger{
            opacity: 0;
        }
    }

    &__car {
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        pointer-events: none; // ユーザー操作の邪魔にならないように
        z-index: 0; 

    }


    .car {
        position: absolute;
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        animation: drive 5s linear forwards;
        opacity: 0;
        animation-fill-mode: forwards;

        &--1 { bottom: 20%; background-image: url(../img/loading-avatar_1.png); animation-delay: 0s;}
        &--2 { bottom: 5%; background-image: url(../img/loading-avatar_2.png); animation-delay: .5s;}
        &--3 { bottom: 30%; background-image: url(../img/loading-avatar_3.png); animation-delay: 1s;}
        &--4 { bottom: 10%; background-image: url(../img/loading-avatar_4.png); animation-delay: 1.5s;}
        &--5 { bottom: 35%; background-image: url(../img/loading-avatar_5.png); animation-delay: 2s;}
        &--6 { bottom: 5%; background-image: url(../img/loading-avatar_6.png); animation-delay: 2.5s;}
        &--7 { bottom: 30%; background-image: url(../img/loading-avatar_7.png); animation-delay: 3s;}
        &--8 { bottom: 8%; background-image: url(../img/loading-avatar_8.png); animation-delay: 3.5s;}
        &--9 { bottom: 25%; background-image: url(../img/loading-avatar_9.png); animation-delay: 4s;}
        &--10 { bottom: 5%; background-image: url(../img/loading-avatar_10.png); animation-delay: 4.5s;}
        &--11 { bottom: 20%; background-image: url(../img/loading-avatar_11.png); animation-delay: 5s;}

    }
}

// --------------------------------
// Loading2
// --------------------------------
.loading2 {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(182deg, #262626, #6B6B6B, #C7C7C7);
    background-size: 200% 200%;
    background-position: 0 0;
    animation: gradation 3s linear infinite alternate;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: opacity 1s ease;

    .ripple {
        position: absolute;
        width: 100px;
        height: 100px;
        background-color: white;
        border-radius: 50%;
        transform: scale(0);
        pointer-events: none;
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
        z-index: 9999;

        &.rippleAnime {
            animation: rippleEffect 1s ease-out forwards;
        }
    }

    img {
        width: 320px;
        object-fit: cover;
        // loading1が消えてから
        animation: blurAnime 1s ease 5s forwards;
    }
    p {
        margin-top: 20px;
        animation:  blurAnime 1s ease 5s forwards,
                    text-opacity 1s linear infinite alternate;
    }
}

// 背景グラデーションが動くアニメーション
@keyframes gradation {
    0% {
        background-position: 0% 10%;
    }
    50% {
        background-position: 100% 70%;
    }
    100% {
        background-position: 0% 30%;
    }
}

// じわっとアニメーション
@keyframes blurAnime{
    from {
        filter: blur(10px);
        transform: scale(1.02);
        opacity: 0;
    }

    to {
        filter: blur(0);
        transform: scale(1);
        opacity: 1;
    }
}

// アバター車移動左から右へ
@keyframes drive {
    0% {
        left: -200px;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        left: 100vw;
        opacity: 1;
    }
}

// タッチスクリーン透過度アニメーション
@keyframes text-opacity {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

// 波紋アニメーション
@keyframes rippleEffect {
    0% {
        transform: scale(0);
        opacity: 0.2;
    }
    100% {
        transform: scale(50);
        opacity: 0.8;
    }
}