@use '_mixin' as m;

.mainvisual {
    position: relative;
    text-align: center;
    height: 100vh;
    overflow: hidden;

    .back-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0;
        transition: opacity 1s ease-in-out,
                    transform 5s ease,
                    background-position 10s ease-in-out;

        
        &.img1 {
            transform: scale(1);
            background-position: right center;
            background-image: url(../img/image_29.png);
            &.active {
                transform: scale(1.5);
                background-position: left center;
            }
        }
        
        &.img2 {
            transform: scale(2);
            background-position: left center;
            background-image: url(../img/mainvisual_1.png);
            &.active {
                transform: scale(1.2);
                background-position: right center;
            }
        }
        
        &.img3 {
            transform: scale(1.2);
            background-position: right center;
            background-image: url(../img/image_36.png);
            &.active {
                transform: scale(1.5);
                background-position: left center;
            }
        }

        &.active {
            opacity: 0.2;
            z-index: 1;
        }
    }
    
    &__title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, calc(-50% + 20px));
        line-height: 250%;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
        z-index: 2;
        opacity: 0;
        transition: opacity .8s ease,
                    transform .8s ease;
        
        @include m.sp {
            font-size: 1.6rem;
        }

        &.displayAnime {
            opacity: 1;
            transform: translate(-50%, -50%);
        }

    }

}
