@use '_mixin' as m;

.state {
    margin-bottom: m.$section-margin;

    @include m.sp {
        margin-bottom: m.$section-margin-sp;
    }


    .container {
        .grid-gallery {
            max-width: 100%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: 200px;
            gap: 12px;

            @include m.sp {
                display: block;
            }

            .item {
                position: relative;
                overflow: hidden;

                @include m.sp {
                    margin-bottom: 20px;
                }

                &:hover .caption {
                    opacity: 1;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform .5s ease;

                    &:hover {
                        transform: scale(1.05);
                    }
                }

                .caption {
                    position: absolute;
                    inset: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    color: m.$font-color;
                    font-weight: bold;
                    background: rgba(255, 255, 255, 0.7);
                    opacity: 0;
                    transition: opacity .4s ease;
                    padding: 10px;
                    pointer-events: none;
                }

                &.item-large {
                    grid-column: span 2;
                    grid-row: span 2;

                    & img{
                        object-position: 10% 50%;
                    }
                }

                &.item-wide {
                    grid-column: span 2;
                }

                &.item-morewide {
                    grid-column: span 3;

                    & img{
                        object-position: 50% 70%;
                    }
                }

                &.item-tall {
                    grid-row: span 2;

                    &.tall1 img{
                        object-position:30% 50%;
                    }

                    &.tall2 img{
                        object-position: 45% 50%;
                    }

                    &.tall3 img{
                        object-position: 5% 50%;
                    }
                }

                &.item-moretall {
                    grid-row: span 3;

                    & img{
                        object-position: 4% 50%;
                    }
                }
            }
        }
    }
}