@use "_mixin" as m;

.voice {
  position: relative;
  padding-bottom: 50px;
  margin-bottom: m.$section-margin;
  @include m.sp {
    margin-bottom: m.$section-margin-sp;
  }
  &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-image: url(../img/voice.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      opacity: 0.2;
      z-index: -1;
  }
  .container {
    text-align: center;
    .item-left,
    .item-right {
      display: flex;
      align-items: flex-end;
      text-align: left;
      opacity: 0;
      transform: scale(0);
      transition: opacity 1s ease, transform 1s ease;
      &.inview {
        opacity: 1;
        transform: scale(1);
      }
      .avatar {
        width: 80px;
        height: 90px;
      }
      .comment {
        width: 65%;
        border-radius: 30px;
        cursor: pointer;
        padding: 30px 50px;
        transition: .5s;
        position: relative;
        &:hover {
          transform: scale(1.05);
          box-shadow: 0 4px 10px rgba($color: #000000, $alpha: .1);
          +.avatar {
            animation: bounce .5s ease infinite;
            transform: scale(1.05);
          }
        }
        @include m.sp {
          width: 90%;
          margin-inline: auto;
        }
        .info {
          border-bottom: .5px solid;
          padding-bottom: 5px;
          margin-bottom: 15px;
        }
        .meta {
          margin-top: 10px;
          text-align: right;
        }
      }
    }
    .item-left {
      flex-direction: row-reverse;
      justify-content: flex-end;
      &:last-of-type {
        margin-bottom: m.$section-margin;
      }
      @include m.sp {
        flex-direction: column;
        align-items: flex-start;
      }
      .avatar {
        margin-right: 60px;
        @include m.sp {
          margin: 40px 0 0 100px;
        }
      }
      .comment {
        background-color: #D0DCEA;
      }
      .comment::after {
        position: absolute;
        content: "";
        border-top: 20px solid transparent;
        border-right: 30px solid #D0DCEA;
        left: -30px;
        bottom: 40px;
        @include m.sp{
          border-top: 30px solid #D0DCEA;
          border-right: 20px solid transparent;
          left: 130px;
          bottom: -30px;
        }
      }
    }
    .item-right {
      justify-content: flex-end;
      margin-block: 50px;
      @include m.sp {
        flex-direction: column;
        margin-block: 30px;
      }
      .avatar {
        margin-left: 60px;
        @include m.sp {
          margin: 40px 100px 0 0;
        }
      }
      .comment {
        background-color: #B4C6D9;
      }
      .comment::after {
        position: absolute;
        content: "";
        border-top: 20px solid transparent;
        border-left: 30px solid #B4C6D9;
        right: -30px;
        bottom: 40px;
        @include m.sp {
          border-top: 30px solid #B4C6D9;
          border-left: 20px solid transparent;
          right: 130px;
          bottom: -30px;
        }
      }
    }
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
